*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
h3{
    text-align: center;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.snaps{
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    /* scroll-snap-type is placed on the parent */
    scroll-snap-type: x mandatory;
}
img{
    height: 100vh;
    width: 100vw;
}
.naruto-images{
    padding-left: 15px;
    /* scroll-snap-align is placed on the child */
    scroll-snap-align: center;
}